[user]
  name = rmaruon
  email = 22119585+rmaruon@users.noreply.github.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
[merge]
	conflictStyle = diff3
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[alias]
  alias = !git config --get-regexp alias
  s = status -s
  cm = commit -m
  amd = commit --amend
  br = branch
  co  = checkout
  cob = checkout -b
  pl = pull
  ps = push
  df = diff
  cancel = reset --soft HEAD^
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
